<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="./tests/unit/test_helper.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="true"
         syntaxCheck="true"
         verbose="true">
    <testsuites>
        <testsuite name="models">
            <directory>tests/unit/models</directory>
        </testsuite>
    </testsuites>

</phpunit>
